/* native checkbox */
.bigcheck {
	position: absolute;
	left: -9999px;
}

/* label */
.bigcheck + * {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}


/* box */
.bigcheck + :before {
	content: '';
	position: absolute;
	left: 0; top: 2px;
	width: 17px; height: 17px;
	border: 1px solid #aaa;
	background: #f8f8f8;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}


/* check */
.bigcheck + :after {
	content: '✔';
	position: absolute;
	top: 0; left: 4px;
	font-size: 14px;
	line-height: 22px;
	color: #09ad7e;
	transition: all .2s;
}


/* check state changes */
.bigcheck:not(:checked) + :after {
	opacity: 0;
	transform: scale(0);
}

.bigcheck:checked + :after {
	opacity: 1;
	transform: scale(1);
}


/* disabled */
.bigcheck:disabled + :before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}

.bigcheck:disabled:checked + :after {
	color: #999;
}

.bigcheck:disabled + * {
	color: #aaa;
}


/* hover & focus states */
.bigcheck:focus + :before {
	border: 1px dotted blue;
}

.bigcheck + :hover:before {
	border: 1px solid #4778d9;
}